.homepage {
    padding-bottom: 30vh;
}

.homepage .playlist-container {
    display: flex;

    justify-content: space-around;
}

.homepage .playlist-container .currated-playlist {
    width: 53.59vw;
    height: 44.83vh;

    border-radius: 40px;

    color: #ffffff;


    background-size: cover;
}

.homepage .playlist-container .currated-playlist:hover {
    cursor: pointer;
}

.homepage .playlist-container .currated-playlist .currated-playlist-text {
    margin-top: 4.56vh;
    margin-left: 3.51vw;

    font-size: 12px;
}

.homepage .playlist-container .currated-playlist .playlist-name {
    margin-top: 11.41vh;
    margin-left: 3.51vw;

    font-size: 35px;
    font-family: Quicksand-Bold;
}

.chart-card {
    display: flex;

    align-items: center;

    width: 32.57vw;
    height: 11.53vh;

    margin-top: 1.44vh;

    border-radius: 20px;

    color: #ffffff;
    background-color: #1A1E1F;
}

.chart-card .thumbnail-wrapper {
    align-content: center;

    height: 65.625%;

    margin-left: 1.17vw;
}

.chart-card .thumbnail {
    /* width: 4.92vw; */
    height: 100%;
    aspect-ratio: 1;

    border-radius: 10px;

    object-fit: contain;
}

.chart-card .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14.84vw;
    height: 7.59vh;

    margin-left: 1.093vw;
}

.chart-card .text-wrapper .playlist-name {
    font-size: 17px;

    overflow: hidden;
}

.chart-card .text-wrapper .playlist-runtime {
    font-size: 12px;
}

.chart-card .heart-icon-wrapper {
    margin-left: 6vw;
    margin-right: 1.64vw;
}

.chart-card .heart-icon-outer-ring {
    display: flex;
    text-align: center;
    justify-content: center;

    width: 2.89vw;
    aspect-ratio: 1;

    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.11);
}

.chart-card .heart-icon-outer-ring .heart-icon {
    width: 48.64%;
    aspect-ratio: 1;
}

.chart-card:hover {
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------- */


.horizontally-lined-music .heading {
    color: #EFEEE0;
    font-family: Quicksand-Bold;
    font-size: 24px;
}

.horizontally-lined-music .music-wrapper {
    display: flex;

    width: 100%;
    height: auto;

    margin-top: 1.44vh;

    overflow-x: hidden;
}

.music-card .thumbnail {
    width: 11.95vw;
    aspect-ratio: 1;

    object-fit: contain;
    border-radius: 25px;
}

.music-card .name {
    width: 11.95vw;
    height: 1em;
    margin-top: 1.081vh;

    color: #ffffff;
    font-size: 12px;

    overflow: hidden;
}

.music-card .artist-name {

    margin-top: 1.081vh;

    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.music-card:hover {
    cursor: pointer;
}

.gap-btw-cards {
    width: 2.34vw;
    height: 5vh;
}

@media screen and (max-width: 500px) {
    .homepage .playlist-container .currated-playlist .currated-playlist-text {
        margin-top: 0;
        margin-left: 7.97vw;
        padding-top: 6.95vh;
    }
    .homepage .playlist-container {
        display: block;
    }

    .homepage .playlist-container .currated-playlist {
        width: 88.64vw;
        height: 68.34vh;

        margin-left: 5.55vw;
    
        border-radius: 20px;
    
        color: #ffffff;
    
    
        background-size: cover;
    }

    .homepage .playlist-container .currated-playlist .playlist-name {
        margin-top: 33.28vh;
        margin-left: 7.97vw;
    }

    .playlist-container .top-charts {
        margin-left: 5.55vw;
        margin-top: 7.201vh;
    }

    .playlist-container .top-charts .chart-cards-container {
        display: grid;
        grid-auto-flow: column;
        column-gap: 4.106vw;
        width: 100%;
        
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .chart-card {
        display: grid;
        grid-template-columns: 63.043vw 15.21vw;
        grid-template-rows: 15.48vh 16.16vh;
        width: 78.01vw;
        height: 31.65vh;
    }

    .chart-card .thumbnail-wrapper {
        grid-row: 1;
        grid-column: 1;

        width: 100%;
        height: 100%;

        margin: 0;
    }

    .chart-card .thumbnail-wrapper .thumbnail {
        /* width: 41.53%; */
        height: 86.84%;
        aspect-ratio: 108/99;

        margin-left: 14px;
        margin-top: 15px;

        border-radius: 15px;
    }

    .chart-card .text-wrapper {
        grid-row: 2;
        grid-column: 1;

        justify-content: space-around;

        width: 100%;
        height: 100%;

        margin-left: 14px;


    }

    .chart-card .heart-icon-wrapper {
        grid-row: 1;
        grid-column: 2;

        width: 100%;
        height: 100%;

        margin: 0;
        margin-top: 15px;
    }

    .chart-card .heart-icon-outer-ring {
        width: 64.91%;
    }

    .horizontally-lined-music {
        margin-left: 5.55vw;

    }

    .music-card .thumbnail {
        width: 36.95vw;
    }
    
    .music-card .name {
        width: 36.95vw;
        height: 1em;

        margin-top: 0.95vh;
    }
    
    .music-card .artist-name {
        margin-top: 1.49vh;
    }

    .gap-btw-cards {
        width: 7.24vw;
        height: 5vh;
    }

    .horizontally-lined-music .music-wrapper {
        overflow-x: scroll;
        scrollbar-width: none;
    }
}