.my-collections .tab-btn-container {
    display: flex;
}

.my-collections .tab-btn-container .my-collection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9.375vw;
    aspect-ratio: 120 / 37;

    border-radius: 27px;

    color: #1D2123;
    background-color: #FACD66;
}

.my-collections .tab-btn-container .likes {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6.5625vw;
    aspect-ratio: 84 / 37;

    margin-left: 0.781vw;

    color: #EFEEE0;

    border-width: 1px;
    border-radius: 27px;
    border-color: #EFEEE0;
    border-style: solid;
}

.my-collections .music-item-container {
    display: grid;
    grid-template-columns: repeat(4 , 16.64vw);
    column-gap: 1.79vw;
    row-gap: 2.76vh;

    margin-top: 3.125vh;

    padding-bottom: 25vh;
}

.my-collections .card {
    position: relative;

    width: 100%;
    aspect-ratio: 213/234;

    border-radius: 20px;
    
    color: #EFEEE0;

    background-size: 100%;

    transition-property: background-size;
    transition-duration: 800ms;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(15, 18, 19, 0.85)); */
}

.my-collections .card:hover {
    background-size: 150%;
}

.my-collections .card .name {  
    width: 88.5%;
    height: 12.4%;

    margin-top: 72.64%;
    margin-left: 8.92%;

    font-size: 24px;

    overflow: hidden;

    transition-property: margin-top;
    transition-duration: 800ms;
}

.my-collections .card:hover .name{
    margin-top: calc(72.64% - 15.81%);
}

.my-collections .card .artist-name {
    margin-left: 8.92%;

    font-size: 10px;
}

.my-collections .card .play-icon {
    position: absolute;
    /* transform: translate(68.54%, 67.94%); */

    top: 67.94%;
    left: 68.54%;

    width: 22.53%;
    aspect-ratio: 1;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 800ms;
}

.my-collections .card:hover .play-icon {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .my-collections .tab-btn-container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        justify-content: space-between;
        width: 86.71vw;
    }
    .my-collections .tab-btn-container .my-collection {
        width: 42.99vw;
        aspect-ratio: 178 / 37;
    }

    .my-collections .tab-btn-container .likes {
        width: 40.09vw;
        aspect-ratio: 166 / 37;
    }

    .my-collections .music-item-container {
        grid-template-columns: auto;
        grid-auto-flow: row;
        justify-content: center;
    }

    .my-collections .card {
        width: 86.71vw;
        height: 31.79vh;
        /* aspect-ratio: 359 / 234; */
    }

    .my-collections .card .name {
        margin-top: 53.84%;
    }
}