@font-face {
  font-family: Quicksand-Bold;
  src: url(./fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: Quicksand-Regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}

.app {
  width: 100vw;
  height: 100vh;
  /* background-color: #1D2123; */

  font-family: Quicksand-Regular;

  overflow: hidden;
}

.app .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;

  width: 100vw;
  height: 100vh;

  background-color: #1D2123;
}

header {
  display: flex;
  height: 8.77vh;

  align-items: center;
}

header .musica-logo {
  width: 2.65vw;

  margin-left: 2.265vw;
}

header .search-icon {
  width: 1.25vw;
  
  margin-left: 4.84vw;
}

header .search-text {
  color: rgba(255,255,255,0.25);
  text-align: center;
  margin-left: 1.56vw;
  font-size: 14px;
}

header .hamburger-icon-wrapper {
  display: none;
}

/* <--------------------------------------------------------------------------------------------------------------------> */

/* body */

.body-wrapper {
  display: flex;

  height: 91.23vh;

  /* margin-top: 2.76vh; */
}

.body-wrapper .nav-bar-wrapper {
  /* flex: 1; */
  margin-top: 2.76vh;
}

.body-wrapper .nav-bar-wrapper .nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 4.0625vw;
  height: 27.644vh;

  margin-left: 1.56vw;

  background-color: #1A1E1F;
  border-radius: 32px;
}

.nav-btn {
  display: flex;
}

.nav-btn .nav-btn-label {
  display: none;
}

.body-wrapper .nav-bar-wrapper .personal-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 4.0625vw;
  height: 15.26vh;

  margin-left: 1.56vw;
  margin-top: 2.403vh;

  background-color: #1A1E1F;
  border-radius: 32px;
}

.body-wrapper .content-wrapper {
  width: 87.89vw;
  height: 91.22vh;

  margin-left: 1.875vw;
  padding-top: 2.76vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.body-wrapper .content-wrapper::-webkit-scrollbar {
  display: none;
}

.nav-btn .nav-bar-icon {
  width: 1.71vw;
}

.nav-drawer-mobile {
  display: none;
}

.music-player {
  position: absolute;
  bottom: 0;

  display: flex;

  width: 100vw;
  aspect-ratio: 1292 / 125;

  box-shadow: 0px -25px 100px rgba( 16, 16, 16, 0.51) ;

  background-color: rgba( 29, 33, 35, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.music-player .thumbnail-and-label-container {
  display: flex;
  align-items: center;

  width: 20%;
  height: 100%;

}

.music-player .thumbnail-and-label-container .thumbnail {
  height: 39.2%;
  aspect-ratio: 1;

  margin-left: 7.5vw;


  border-radius: 14px;
}

.music-player .thumbnail-and-label-container .label-container {
  height: 39.2%;

  margin-left: 1.015vw;
  font-family: Quicksand-Bold;
}

.music-player .thumbnail-and-label-container .label-container .name {
  margin-top: 0.961vh;
  color: #ffffff;

  font-size: 14px;
}

.music-player .thumbnail-and-label-container .label-container .artist-name {
  margin-top: 1.081vh;
  color: rgba( 255, 255, 255, 0.44);

  font-size: 10px;
}

.music-player .controller-container {
  position: relative;
  width: 60%;
  height: 100%;

}

.music-player .controller-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  width: 20.07vw;
  height: 20.44%;

  margin-top: 2.79%;

}

.music-player .controller-container .btn-container .icon {
  height: 62.62%;
  aspect-ratio: 1;
}

.music-player .controller-container .btn-container .play-controller-icon {
  height: 100%;
  aspect-ratio: 1;

  filter: drop-shadow(0px 0px 14px rgba( 255, 255, 255, 0.3));

  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.music-player .controller-container .btn-container .play-controller-icon:hover {
  cursor: pointer;
}

.music-player .controller-container .seek-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 3.34%;
}

.music-player .controller-container .seek-container .seek {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  aspect-ratio: 749 / 4;

  appearance: none;

  border-radius: 50px;

  background-color: rgba(255,255,255,0.04);

  overflow: hidden;
}

.music-player .controller-container .seek-container .seek::-webkit-slider-thumb {
  appearance: none;

  width: 0px;
  aspect-ratio: 1;

  border-radius: 50px;

  box-shadow: -1000px 0 0 1000px #FACD66;

  background-color: rgba( 0, 0, 0, 1);
}

.music-player .controller-container .seek-container .seek-progress {
  position: absolute;
  border-radius: 50px;
  background-color: #FACD66;
}

.music-player .volume-container {
  position: relative;
  display: grid;
  grid-template-columns: 1.40625vw auto;
  column-gap: 0.46vw;
  width: 20%;
  height: 100%;

}

.music-player .volume-container .volume-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1.40625vw;
  aspect-ratio: 1 / 1;
}

.music-player .volume-container .volume-controller {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
  width: 12.5vw;
  height: 2.4%;

  border-radius: 42px;

  background-color: rgba(255,255,255,0.1);

  overflow: hidden;
}

.music-player .volume-container .volume-controller::-webkit-slider-thumb {
  appearance: none;

  width: 0px;
  aspect-ratio: 1;

  box-shadow: -1000px 0px 0px 1000px #FACD66;
}

@media screen and (max-width: 500px) {
  .app {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .nav-drawer-mobile {
    display: grid;
    grid-template-rows: calc(14.809vh - 6.79vh) repeat(auto-fill, 3.91vh);
    /* grid-auto-flow: row; */
    row-gap: 6.79vh;
    
    position: absolute;
    top: 0px;
    left: 0px;

    transform: translateX(-100%);
    

    width: 82.12vw;
    height: 100vh;

    /* padding-top: 14.809vh; */

    background-color: #1A1E1F;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.26,1.09,.66,1.03);
  }

  .nav-btn {
    align-items: center;
    height: 3.91vh;

    margin-bottom: 6.79vh;

    /* margin-left: 9.66vw; */

    text-decoration: none;
  }

  .nav-btn .nav-bar-icon {
    width: 6.951vw;
  }

  .nav-btn .nav-btn-label {
    display: block;

    margin-left: 6.52vw;

    font-family: Quicksand-Bold;
    font-size: 17px;
    /* color: rbga( 239, 238, 224, 0.25); */
  }

  .body-wrapper .nav-bar-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    transform: translateX(-100%);
    

    width: 82.12vw;
    height: 100vh;

    margin-top: 0;
    
    /* padding-top: 14.809vh; */

    background-color: #1A1E1F;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.26,1.09,.66,1.03);
  }

  .body-wrapper .nav-bar-wrapper-openned {
    transform: translateX(0%);

  } 

  .body-wrapper .nav-bar-wrapper .nav-bar { 
    align-items: flex-start;
    
    width: 80%;
    height: auto;
  
    margin-left: 8.93vw;
    margin-top: 14.80vh;
  
    background-color: #1A1E1F;
    border-radius: 0;
  }

  .body-wrapper .nav-bar-wrapper .personal-bar {
    align-items: flex-start;

    width: 80%;
    height: auto;
  
    margin-left: 8.93vw;
    margin-top: 0;
  
    background-color: #1A1E1F;
    border-radius: 0;
  }

  header {
    justify-content: space-between;
    height: 11.54vh;
  }

  header .musica-logo {
    width: 8.21vw;
    /* height: 2.78vh; */
    aspect-ratio: 1;

    margin-left: 6.521vw;
    margin-top: 1.88vh;
  }

  header .search-icon-wrapper{
    display: none;
  }

  header .search-text{
    display: none;
  }

  header .hamburger-icon-wrapper {
    display: block;
  }

  header .hamburger-icon-wrapper .hamburger-icon {
    width: 5.79vw;
    aspect-ratio: 1;

    margin-right: 7.004vw;
  }

  .body-wrapper {
    display: block;
    height: auto;
  }

  .body-wrapper .content-wrapper {
    width: 100vw;
    height: auto;
    margin-left: 0;

    padding: 0;

    overflow-y:visible;
  }

  .music-player {
    width: 100vw;
    aspect-ratio: 428 / 125;
  }

  .music-player .thumbnail-and-label-container {
    width: 60%;
  }

  .music-player .thumbnail-and-label-container .thumbnail {
    height: 45.928%;
    aspect-ratio: 1;
  }

  .music-player .thumbnail-and-label-container .label-container {
    margin-left: 3.14vw;
  }

  .music-player .thumbnail-and-label-container .label-container .name {
    width: 100%;
    height: 50%;

    margin-top: 0;
    font-size: 16.4px;

    overflow: hidden;
  }

  .music-player .thumbnail-and-label-container .label-container .artist-name {
    width: 100%;
    height: 50%;

    font-size: 11.72px;

    overflow: hidden;
  }

  .music-player .controller-container {
    width: 40%;
  }

  .music-player .controller-container .btn-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    height: 27.872%;
  }

  .music-player .seek-container {
    display: none;
  }

  .music-player .controller-container .btn-container .icon {
    display: none;
  }

  .music-player .controller-container .btn-container .play-controller-icon {
    display: block;
  }

  .music-player .controller-container .btn-container .next-icon {
    display: block;
  }

  .music-player .volume-container {
    display: none;
  }
}
