@font-face {
  font-family: Quicksand-Bold;
  src: url(./fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: Quicksand-Regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}

.app {
  width: 100vw;
  height: 100vh;
  /* background-color: #1D2123; */

  font-family: Quicksand-Regular;

  overflow: hidden;
}

.app .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;

  width: 100vw;
  height: 100vh;

  background-color: #1D2123;
}

header {
  display: flex;
  height: 8.77vh;

  align-items: center;
}

header .musica-logo {
  width: 2.65vw;

  margin-left: 2.265vw;
}

header .search-icon {
  width: 1.25vw;
  
  margin-left: 4.84vw;
}

header .search-text {
  color: rgba(255,255,255,0.25);
  text-align: center;
  margin-left: 1.56vw;
  font-size: 14px;
}

header .hamburger-icon-wrapper {
  display: none;
}

/* <--------------------------------------------------------------------------------------------------------------------> */

/* body */

.body-wrapper {
  display: flex;

  height: 91.23vh;

  /* margin-top: 2.76vh; */
}

.body-wrapper .nav-bar-wrapper {
  /* flex: 1; */
  margin-top: 2.76vh;
}

.body-wrapper .nav-bar-wrapper .nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 4.0625vw;
  height: 27.644vh;

  margin-left: 1.56vw;

  background-color: #1A1E1F;
  border-radius: 32px;
}

.nav-btn {
  display: flex;
}

.nav-btn .nav-btn-label {
  display: none;
}

.body-wrapper .nav-bar-wrapper .personal-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 4.0625vw;
  height: 15.26vh;

  margin-left: 1.56vw;
  margin-top: 2.403vh;

  background-color: #1A1E1F;
  border-radius: 32px;
}

.body-wrapper .content-wrapper {
  width: 87.89vw;
  height: 91.22vh;

  margin-left: 1.875vw;
  padding-top: 2.76vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.body-wrapper .content-wrapper::-webkit-scrollbar {
  display: none;
}

.nav-btn .nav-bar-icon {
  width: 1.71vw;
}

.nav-drawer-mobile {
  display: none;
}

@media screen and (max-width: 430px) {
  .app {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .nav-drawer-mobile {
    display: grid;
    grid-template-rows: calc(14.809vh - 6.79vh) repeat(auto-fill, 3.91vh);
    /* grid-auto-flow: row; */
    row-gap: 6.79vh;
    
    position: absolute;
    top: 0px;
    left: 0px;

    transform: translateX(-100%);
    

    width: 82.12vw;
    height: 100vh;

    /* padding-top: 14.809vh; */

    background-color: #1A1E1F;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.26,1.09,.66,1.03);
  }

  .nav-btn {
    align-items: center;
    height: 3.91vh;

    /* margin-left: 9.66vw; */

    text-decoration: none;
  }

  .nav-btn .nav-bar-icon {
    width: 6.951vw;
  }

  .nav-btn .nav-btn-label {
    display: block;

    margin-left: 6.52vw;

    font-family: Quicksand-Bold;
    font-size: 17px;
    /* color: rbga( 239, 238, 224, 0.25); */
  }

  .body-wrapper .nav-bar-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    transform: translateX(0%);
    

    width: 82.12vw;
    height: 100vh;

    /* padding-top: 14.809vh; */

    background-color: #1A1E1F;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.26,1.09,.66,1.03);
  }

  .body-wrapper .nav-bar-wrapper .nav-bar { 
    align-items: flex-start;
    
    width: 100%;
    height: auto;
  
    margin-left: 0;
  
    background-color: #1A1E1F;
    border-radius: 0;
  }

  .body-wrapper .nav-bar-wrapper .personal-bar {
    align-items: flex-start;

    width: 100%;
    height: auto;
  
    margin-left: 0;
    margin-top: 0;
  
    background-color: #1A1E1F;
    border-radius: 0;
  }

  header {
    justify-content: space-between;
    height: 11.54vh;
  }

  header .musica-logo {
    width: 8.21vw;
    /* height: 2.78vh; */
    aspect-ratio: 1;

    margin-left: 6.521vw;
    margin-top: 1.88vh;
  }

  header .search-icon-wrapper{
    display: none;
  }

  header .search-text{
    display: none;
  }

  header .hamburger-icon-wrapper {
    display: block;
  }

  header .hamburger-icon-wrapper .hamburger-icon {
    width: 5.79vw;
    aspect-ratio: 1;

    margin-right: 7.004vw;
  }

  .body-wrapper {
    display: block;
    height: auto;
  }

  .body-wrapper .content-wrapper {
    width: 100vw;
    height: auto;
    margin-left: 0;

    padding: 0;

    overflow-y:visible;
  }

  .app:focus-visible .nav-drawer-mobile {
    transform: translateX(0%);
  }
}
